.reveal .slides pre {
    padding: 10px;
}

.reveal blockquote {
    font-style: normal;
    background: #feffbb;
}

.reveal .slide-number {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 200%;
}

.title-slide h1 {
    font-size: 2.77em;
}

.title-slide h2 {
    font-size: 2.22em;
}

.title-slide h3 {
    font-size: 1.11em;
}

.reveal .box {
    width: 100%;
}

.reveal .slides li {
    margin-bottom: 15px;
}

.reveal .slides li ul {
    margin-top: 15px;
}

.reveal .list {
    width: 100%;
    margin: 15px 0 0 15px;
}

.reveal .list li {
    position: relative;
    padding-left: 50px;
    margin-bottom: 15px;
}

.reveal .list li:before {
    position: absolute;
    left: 0;
}

.reveal .list-item img {
    width: 80px;
    vertical-align: middle;
}